@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
div, section, figure{padding:0; margin:0;}
a {border:0; outline:none; -webkit-transition: all 200s ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;color:#0075C9;}
a:hover, a:focus{text-decoration:none; color:#0075c9;  outline-style: none;}
img{max-width:100%;}
.clear{clear:both}
.clearfix:before,.clearfix:after{ display: table;  content: " ";}
.clearfix:after { clear: both;}
body, html {font-family: 'Roboto', sans-serif;font-size: 15px;color: #333E48;overflow-x:hidden;}
/**banner**/
.banner{background-image: url(https://sdsccdevelopmenab49.blob.core.windows.net/b2c-signin-signout/images/banner.png);background-repeat: no-repeat;position: relative;background-size: cover;height: 480px;}
.text-yellow{color:#FFC20E;}
.text-bold{font-weight:700;}
.font-14{font-size:14px;}
.loginpage-caption{font-weight:300;font-size: 40px;color: #393939;}

/**login***/
.login-card{box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);border-radius: 4px;}
.login-card .form-control{border: none;outline: none;height: calc(3em + .75rem + 2px);background-color: #E2E4E5;box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.16);border-radius: unset;}
.login-card .form-control + label {position: absolute;top: 19px;left: 12px;display: block;color: #9d9d9c;pointer-events: none;cursor: text;transition: all .1s ease-in-out;}
.login-card input:not(:placeholder-shown).form-control ~ label {padding-top: .25rem;padding-bottom: .25rem;font-size: 12px;color: #0075c9;top: 0;left: 10px;font-weight: normal !important;}
.forgotText {font-size: 12px;}
.btncommon{border-radius: 30px;font-size: 13px;padding: 0.65rem 1.25rem;text-transform: uppercase;letter-spacing: 1px;}
.btncommon:hover {-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.4);-moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.4);box-shadow: 0 1px 3px rgba(0,0,0, 0.4);-webkit-transition: box-shadow 200ms;-moz-transition: box-shadow 200ms;-o-transition: box-shadow 200ms;transition: box-shadow 200ms;color:#fff;}
.signIn {background: #0075C9;color: #fff;}
.register{background: #333E48;color: #fff;}
.login-form{margin-top: -220px;}
.login-info{font-size: 20px;font-weight: 400;}
.moreText {text-decoration: underline;}

/**helpline**/
.browsername{display:block;color:#121416;}
.browsers a{display:inline-block;}
.browsers img {max-width: 50px;}
.phhelp{font-size: 15px;color: #333E48;font-weight: 600;}

/***footer**/
.footer{background: #E3E5E4;}
.copyright-text{font-size: 12px;color: #9EA2A0;}


.custom-container{max-width: 1300px;margin: 0 auto;padding: 0.8rem 1rem;}


#api .localAccount {
	top: 10px;
	width: 100%
}

#api .localAccount .intro h2 {
	font-size: 20px
}

#api .localAccount .error {
	color: #b00;
	text-align: left
}

#api .localAccount .entry .buttons {
	margin: 0 0 23px 0;
	text-align: left
}

#api .localAccount .entry .buttons button {
	background-image: none;
	background-color: #296ec6;
	border: none;
	border-radius: .5rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	height: inherit;
	line-height: 1.3333333;
	margin-top: 0rem;
	margin-right: 0;
	margin-bottom: 1.2rem;
	margin-left: 0;
	padding: 10px 16px;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: inherit;
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-user-select: none;
	color: #fff;
	width: 100%;
	box-shadow: 0 0 30px 0 #dae1f7
}

@media screen and (-ms-high-contrast:active) {
	#api .accountButton,
	#api .localAccount .entry .buttons button {
		border: 1px dashed #fff
	}
	#api .accountButton:hover,
	#api .localAccount .entry .buttons button:hover {
		border: 1px solid #fff
	}
}

#api .localAccount .entry .buttons button:focus,
#api .localAccount .entry .buttons button:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #1662c7;
	color: #fff
}

#api .localAccount .entry .entry-item {
	position: relative;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	display: block
}

#api .localAccount .entry .entry-item label {
	display: none
}

#api .localAccount .entry .entry-item input {
	outline: 0;
	background-color: #fff!important;
	background-image: none!important;
	color: #555;
	display: inline-block;
	font-size: 1em;
	height: 50px;
	line-height: 1.42857143;
	padding: 6px 20px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
	width: 100%!important;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s!important
}

#api .localAccount .entry .entry-item #password {
	margin-bottom: 20px
}

#api .localAccount .entry .entry-item .password-label {
	text-align: left;
	height: 0;
	left: 0;
	width: 100%
}

@keyframes slideInFromRight {
	0% {
		opacity: 0;
		transform: translateX(50%)
	}
	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

#api .localAccount .entry .entry-item .password-label #forgotPassword {
	position: absolute;
	bottom: 0;
	clear: right;
	cursor: pointer;
	float: right;
	text-align: right
}

#api .localAccount .rememberMe {
	position: absolute;
	right: 50px;
	display: inline-block;
	margin-top: -20px
}

.working {
	display: none
}

#api .claims-provider-list-text-links p,
#api .localAccount .create p {
	text-align: left;
	margin-top: -3rem;
	margin-bottom: 3rem
}

.create #createAccount1 {
	border-radius: .5rem;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	height: inherit;
	line-height: 1.3333333;
	padding: 10px 16px;
	text-align: center;
	touch-action: manipulation;
	user-select: none;
	white-space: nowrap;
	-moz-user-select: none;
	-ms-touch-action: manipulation;
	-ms-user-select: none;
	-webkit-user-select: none;
	width: auto;
	margin-top: -3rem;
	cursor: pointer;
	animation: .5s ease-out 0s 1 slideInFromRight
}

.divider, #forgotPassword{
	display:none;
}

#api .localAccount .create {
	display:none;
}

/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */
@media only screen and (max-width: 980px) {
	
	
	
}